[
  {
    "entryPoint": "dc.oxylabs.io",
    "ip": "1.1.1.1",
    "port": 8001,
    "countryCode": "US"
  },
  {
    "entryPoint": "dc.oxylabs.io",
    "ip": "1.1.1.1",
    "port": 8001,
    "countryCode": "US"
  },
  {
    "entryPoint": "dc.oxylabs.io",
    "ip": "1.1.1.1",
    "port": 8001,
    "countryCode": "US"
  },
  {
    "entryPoint": "dc.oxylabs.io",
    "ip": "1.1.1.1",
    "port": 8001,
    "countryCode": "US"
  },
  {
    "entryPoint": "dc.oxylabs.io",
    "ip": "1.1.1.1",
    "port": 8001,
    "countryCode": "US"
  }
]